In [1]:
from indicators import *
from handle_time import *
from binance import Client
import pandas as pd

In [2]:
client=Client()

In [3]:
btc=client.get_historical_klines('BTCUSDT', client.KLINE_INTERVAL_5MINUTE, '25 Nov, 2024')

In [4]:
btc_df=create_df(btc)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844
...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060

# Test indicators

In [5]:
add_ema(btc_df, 10, 20, 50, 100, 200)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,ema_50,ema_100,ema_200
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,NaN,NaN,NaN
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,NaN,NaN,NaN
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,NaN,NaN,NaN
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,NaN,NaN,NaN
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,87145.940754,87291.923990,87364.948906
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,87136.579156,87284.306089,87360.394390
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,87127.705071,87276.899830,87355.915739
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,87124.803696,87272.480428,87352.908816
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,87118.222767,87266.233092,87348.969326

In [6]:
rsi(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,ema_50,ema_100,ema_200,rsi
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,NaN,NaN,NaN,NaN
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,NaN,NaN,NaN,NaN
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,NaN,NaN,NaN,NaN
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,NaN,NaN,NaN,NaN
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,87145.940754,87291.923990,87364.948906,52.222384
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,87136.579156,87284.306089,87360.394390,57.024311
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,87127.705071,87276.899830,87355.915739,52.765656
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,87124.803696,87272.480428,87352.908816,73.536580
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,87118.222767,87266.233092,87348.969326,60.344291

In [7]:
macd(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,ema_50,ema_100,ema_200,rsi,macd_line,signal_line
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,NaN,NaN,NaN,NaN,6.090598,1.218120
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,NaN,NaN,NaN,NaN,1.073596,1.189215
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,NaN,NaN,NaN,NaN,14.159607,3.783293
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,NaN,NaN,NaN,NaN,10.852298,5.197094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,87145.940754,87291.923990,87364.948906,52.222384,-77.634231,-106.216975
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,87136.579156,87284.306089,87360.394390,57.024311,-72.740810,-99.521742
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,87127.705071,87276.899830,87355.915739,52.765656,-67.833078,-93.184009
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,87124.803696,87272.480428,87352.908816,73.536580,-51.773253,-84.901858
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,87118.222767,87266.233092,87348.969326,60.344291,-46.317114,-77.184909

In [8]:
bollinger_bands(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,ema_50,ema_100,ema_200,rsi,macd_line,signal_line,upper_band,lower_band
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,NaN,NaN,NaN,NaN,6.090598,1.218120,NaN,NaN
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,NaN,NaN,NaN,NaN,1.073596,1.189215,NaN,NaN
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,NaN,NaN,NaN,NaN,14.159607,3.783293,NaN,NaN
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,NaN,NaN,NaN,NaN,10.852298,5.197094,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,87145.940754,87291.923990,87364.948906,52.222384,-77.634231,-106.216975,87056.744023,87056.744023
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,87136.579156,87284.306089,87360.394390,57.024311,-72.740810,-99.521742,87053.372300,87053.372300
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,87127.705071,87276.899830,87355.915739,52.765656,-67.833078,-93.184009,87053.877426,87053.877426
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,87124.803696,87272.480428,87352.908816,73.536580,-51.773253,-84.901858,87059.687597,87059.687597
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,87118.222767,87266.233092,87348.969326,60.344291,-46.317114,-77.184909,87054.622242,87054.622242

In [9]:
stochastic_oscillator(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,ema_50,ema_100,ema_200,rsi,macd_line,signal_line,upper_band,lower_band,k,d
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,NaN,NaN,NaN,NaN,6.090598,1.218120,NaN,NaN,NaN,NaN
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,NaN,NaN,NaN,NaN,1.073596,1.189215,NaN,NaN,NaN,NaN
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,NaN,NaN,NaN,NaN,14.159607,3.783293,NaN,NaN,NaN,NaN
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,NaN,NaN,NaN,NaN,10.852298,5.197094,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,87145.940754,87291.923990,87364.948906,52.222384,-77.634231,-106.216975,87056.744023,87056.744023,66.741454,68.940781
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,87136.579156,87284.306089,87360.394390,57.024311,-72.740810,-99.521742,87053.372300,87053.372300,69.923835,66.592864
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,87127.705071,87276.899830,87355.915739,52.765656,-67.833078,-93.184009,87053.877426,87053.877426,70.830135,69.165141
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,87124.803696,87272.480428,87352.908816,73.536580,-51.773253,-84.901858,87059.687597,87059.687597,98.763397,79.839122
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,87118.222767,87266.233092,87348.969326,60.344291,-46.317114,-77.184909,87054.622242,87054.622242,53.322914,74.305482

In [10]:
atr(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,...,ema_100,ema_200,rsi,macd_line,signal_line,upper_band,lower_band,k,d,atr
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,...,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,...,NaN,NaN,NaN,6.090598,1.218120,NaN,NaN,NaN,NaN,NaN
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,...,NaN,NaN,NaN,1.073596,1.189215,NaN,NaN,NaN,NaN,NaN
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,...,NaN,NaN,NaN,14.159607,3.783293,NaN,NaN,NaN,NaN,NaN
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,...,NaN,NaN,NaN,10.852298,5.197094,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,...,87291.923990,87364.948906,52.222384,-77.634231,-106.216975,87056.744023,87056.744023,66.741454,68.940781,128.902212
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,...,87284.306089,87360.394390,57.024311,-72.740810,-99.521742,87053.372300,87053.372300,69.923835,66.592864,125.656339
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,...,87276.899830,87355.915739,52.765656,-67.833078,-93.184009,87053.877426,87053.877426,70.830135,69.165141,123.647315
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,...,87272.480428,87352.908816,73.536580,-51.773253,-84.901858,87059.687597,87059.687597,98.763397,79.839122,127.219650
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,...,87266.233092,87348.969326,60.344291,-46.317114,-77.184909,87054.622242,87054.622242,53.322914,74.305482,132.438961

In [11]:
chaikin_money_flow(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,...,ema_200,rsi,macd_line,signal_line,upper_band,lower_band,k,d,atr,cmf
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,...,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,...,NaN,NaN,6.090598,1.218120,NaN,NaN,NaN,NaN,NaN,NaN
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,...,NaN,NaN,1.073596,1.189215,NaN,NaN,NaN,NaN,NaN,NaN
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,...,NaN,NaN,14.159607,3.783293,NaN,NaN,NaN,NaN,NaN,NaN
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,...,NaN,NaN,10.852298,5.197094,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,...,87364.948906,52.222384,-77.634231,-106.216975,87056.744023,87056.744023,66.741454,68.940781,128.902212,-0.005652
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,...,87360.394390,57.024311,-72.740810,-99.521742,87053.372300,87053.372300,69.923835,66.592864,125.656339,0.098757
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,...,87355.915739,52.765656,-67.833078,-93.184009,87053.877426,87053.877426,70.830135,69.165141,123.647315,0.031803
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,...,87352.908816,73.536580,-51.773253,-84.901858,87059.687597,87059.687597,98.763397,79.839122,127.219650,0.011780
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,...,87348.969326,60.344291,-46.317114,-77.184909,87054.622242,87054.622242,53.322914,74.305482,132.438961,-0.051424

# Test time handling functions

In [12]:
is_weekend(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,...,rsi,macd_line,signal_line,upper_band,lower_band,k,d,atr,cmf,is_weekend
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,...,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,False
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,...,NaN,6.090598,1.218120,NaN,NaN,NaN,NaN,NaN,NaN,False
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,...,NaN,1.073596,1.189215,NaN,NaN,NaN,NaN,NaN,NaN,False
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,...,NaN,14.159607,3.783293,NaN,NaN,NaN,NaN,NaN,NaN,False
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,...,NaN,10.852298,5.197094,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,...,52.222384,-77.634231,-106.216975,87056.744023,87056.744023,66.741454,68.940781,128.902212,-0.005652,False
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,...,57.024311,-72.740810,-99.521742,87053.372300,87053.372300,69.923835,66.592864,125.656339,0.098757,False
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,...,52.765656,-67.833078,-93.184009,87053.877426,87053.877426,70.830135,69.165141,123.647315,0.031803,False
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,...,73.536580,-51.773253,-84.901858,87059.687597,87059.687597,98.763397,79.839122,127.219650,0.011780,False
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,...,60.344291,-46.317114,-77.184909,87054.622242,87054.622242,53.322914,74.305482,132.438961,-0.051424,False

In [14]:
len(btc_df[btc_df['is_weekend']==True]), len(btc_df[btc_df['is_weekend']==False])

(29952, 75598)

In [15]:
cyclical_days(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,...,signal_line,upper_band,lower_band,k,d,atr,cmf,is_weekend,sin_days,cos_days
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,...,1.218120,NaN,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,...,1.189215,NaN,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,...,3.783293,NaN,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,...,5.197094,NaN,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,...,-106.216975,87056.744023,87056.744023,66.741454,68.940781,128.902212,-0.005652,False,0.974928,-0.222521
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,...,-99.521742,87053.372300,87053.372300,69.923835,66.592864,125.656339,0.098757,False,0.974928,-0.222521
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,...,-93.184009,87053.877426,87053.877426,70.830135,69.165141,123.647315,0.031803,False,0.974928,-0.222521
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,...,-84.901858,87059.687597,87059.687597,98.763397,79.839122,127.219650,0.011780,False,0.974928,-0.222521
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,...,-77.184909,87054.622242,87054.622242,53.322914,74.305482,132.438961,-0.051424,False,0.974928,-0.222521

In [16]:
cyclical_hours(btc_df)
btc_df

,open_timestamp,open,high,low,close,volume,close_timestamp,n_trades,ema_10,ema_20,...,lower_band,k,d,atr,cmf,is_weekend,sin_days,cos_days,sin_hours,cos_hours
0,1732492800000,97900.05,97968.58,97654.11,97739.99,147.80644,1732493099999,28572,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000,0.000000,1.000000
1,1732493100000,97740.00,97940.21,97740.00,97816.34,125.55420,1732493399999,27552,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000,0.000000,1.000000
2,1732493400000,97816.34,97913.49,97694.49,97694.50,68.87987,1732493699999,17666,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000,0.000000,1.000000
3,1732493700000,97694.50,97913.49,97694.49,97907.97,65.55586,1732493999999,15586,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000,0.000000,1.000000
4,1732494000000,97907.98,97907.98,97713.95,97740.01,56.57029,1732494299999,14844,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,0.000000,1.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105545,1764156300000,86884.16,86951.80,86864.66,86896.44,39.95081,1764156599999,9201,86914.934700,86954.475620,...,87056.744023,66.741454,68.940781,128.902212,-0.005652,False,0.974928,-0.222521,0.258819,-0.965926
105546,1764156600000,86896.44,86948.12,86872.00,86907.22,28.85160,1764156899999,9353,86913.532027,86949.975085,...,87053.372300,69.923835,66.592864,125.656339,0.098757,False,0.974928,-0.222521,0.258819,-0.965926
105547,1764156900000,86907.21,86969.53,86884.86,86910.29,27.69264,1764157199999,8779,86912.942568,86946.195553,...,87053.877426,70.830135,69.165141,123.647315,0.031803,False,0.974928,-0.222521,0.258819,-0.965926
105548,1764157200000,86910.29,87058.52,86894.08,87053.72,48.52627,1764157499999,9647,86938.538464,86956.435977,...,87059.687597,98.763397,79.839122,127.219650,0.011780,False,0.974928,-0.222521,0.258819,-0.965926
105549,1764157500000,87053.72,87094.37,86956.99,86956.99,35.84226,1764157799999,8060,86941.893289,86956.488741,...,87054.622242,53.322914,74.305482,132.438961,-0.051424,False,0.974928,-0.222521,0.258819,-0.965926

In [17]:
btc_df.dropna(inplace=True)

In [20]:
btc_df.reset_index(inplace=True)

In [23]:
btc_df.drop(columns=['open_timestamp', 'close_timestamp'], inplace=True)

In [25]:
btc_df.drop(columns=['index'], inplace=True)

In [26]:
btc_df

,open,high,low,close,volume,n_trades,ema_10,ema_20,ema_50,ema_100,...,lower_band,k,d,atr,cmf,is_weekend,sin_days,cos_days,sin_hours,cos_hours
0,96159.90,96190.44,95954.35,95975.99,151.98309,34615,96084.323711,96154.612830,96659.422202,97155.235063,...,96664.449102,44.548620,59.581082,472.903684,0.054503,False,0.000000,1.000000,-0.866025,-0.500000
1,95975.99,96048.76,95833.33,95863.99,176.22417,41649,96044.263036,96126.934465,96628.218736,97129.198482,...,96661.930458,32.696642,47.085154,454.512707,0.032649,False,0.000000,1.000000,-0.866025,-0.500000
2,95863.99,96020.00,95756.00,95760.02,153.25939,30902,95992.582484,96091.990230,96594.161192,97101.600447,...,96585.203452,21.694409,32.979890,440.904656,0.109262,False,0.000000,1.000000,-0.866025,-0.500000
3,95760.03,96129.86,95711.20,95878.99,185.01925,27349,95971.929305,96071.704494,96566.106925,97076.965467,...,96523.743617,23.668523,26.019858,439.315752,-0.069727,False,0.000000,1.000000,-0.866025,-0.500000
4,95879.00,96060.00,95878.99,95912.00,78.83363,21991,95961.033068,96056.494542,96540.448346,97053.500159,...,96474.101688,27.725949,24.362960,432.850341,-0.099670,False,0.000000,1.000000,-0.866025,-0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105346,86884.16,86951.80,86864.66,86896.44,39.95081,9201,86914.934700,86954.475620,87145.940754,87291.923990,...,87056.744023,66.741454,68.940781,128.902212,-0.005652,False,0.974928,-0.222521,0.258819,-0.965926
105347,86896.44,86948.12,86872.00,86907.22,28.85160,9353,86913.532027,86949.975085,87136.579156,87284.306089,...,87053.372300,69.923835,66.592864,125.656339,0.098757,False,0.974928,-0.222521,0.258819,-0.965926
105348,86907.21,86969.53,86884.86,86910.29,27.69264,8779,86912.942568,86946.195553,87127.705071,87276.899830,...,87053.877426,70.830135,69.165141,123.647315,0.031803,False,0.974928,-0.222521,0.258819,-0.965926
105349,86910.29,87058.52,86894.08,87053.72,48.52627,9647,86938.538464,86956.435977,87124.803696,87272.480428,...,87059.687597,98.763397,79.839122,127.219650,0.011780,False,0.974928,-0.222521,0.258819,-0.965926
105350,87053.72,87094.37,86956.99,86956.99,35.84226,8060,86941.893289,86956.488741,87118.222767,87266.233092,...,87054.622242,53.322914,74.305482,132.438961,-0.051424,False,0.974928,-0.222521,0.258819,-0.965926

In [81]:
btc_df['percent_change']=btc_df['close'].pct_change()*100
btc_df

,open,high,low,close,volume,n_trades,ema_10,ema_20,ema_50,ema_100,...,k,d,atr,cmf,is_weekend,sin_days,cos_days,sin_hours,cos_hours,percent_change
0,95975.99,96048.76,95833.33,95863.99,176.22417,41649,96044.263036,96126.934465,96628.218736,97129.198482,...,32.696642,47.085154,454.512707,0.032649,False,0.000000,1.000000,-0.866025,-0.500000,NaN
1,95863.99,96020.00,95756.00,95760.02,153.25939,30902,95992.582484,96091.990230,96594.161192,97101.600447,...,21.694409,32.979890,440.904656,0.109262,False,0.000000,1.000000,-0.866025,-0.500000,-0.108456
2,95760.03,96129.86,95711.20,95878.99,185.01925,27349,95971.929305,96071.704494,96566.106925,97076.965467,...,23.668523,26.019858,439.315752,-0.069727,False,0.000000,1.000000,-0.866025,-0.500000,0.124238
3,95879.00,96060.00,95878.99,95912.00,78.83363,21991,95961.033068,96056.494542,96540.448346,97053.500159,...,27.725949,24.362960,432.850341,-0.099670,False,0.000000,1.000000,-0.866025,-0.500000,0.034429
4,95912.00,95912.00,95548.00,95593.56,223.98587,43609,95894.219783,96012.405538,96503.305279,97024.103336,...,4.785714,18.726729,427.932460,-0.217460,False,0.000000,1.000000,-0.965926,-0.258819,-0.332013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105345,86884.16,86951.80,86864.66,86896.44,39.95081,9201,86914.934700,86954.475620,87145.940754,87291.923990,...,66.741454,68.940781,128.902212,-0.005652,False,0.974928,-0.222521,0.258819,-0.965926,0.014145
105346,86896.44,86948.12,86872.00,86907.22,28.85160,9353,86913.532027,86949.975085,87136.579156,87284.306089,...,69.923835,66.592864,125.656339,0.098757,False,0.974928,-0.222521,0.258819,-0.965926,0.012406
105347,86907.21,86969.53,86884.86,86910.29,27.69264,8779,86912.942568,86946.195553,87127.705071,87276.899830,...,70.830135,69.165141,123.647315,0.031803,False,0.974928,-0.222521,0.258819,-0.965926,0.003533
105348,86910.29,87058.52,86894.08,87053.72,48.52627,9647,86938.538464,86956.435977,87124.803696,87272.480428,...,98.763397,79.839122,127.219650,0.011780,False,0.974928,-0.222521,0.258819,-0.965926,0.165032
105349,87053.72,87094.37,86956.99,86956.99,35.84226,8060,86941.893289,86956.488741,87118.222767,87266.233092,...,53.322914,74.305482,132.438961,-0.051424,False,0.974928,-0.222521,0.258819,-0.965926,-0.111115

In [82]:
btc_df.dropna(inplace=True)

In [84]:
btc_df.reset_index(inplace=True)
btc_df.drop(columns=['index'], inplace=True)

In [87]:
btc_df.dtypes

open              float64
high              float64
low               float64
close             float64
volume            float64
n_trades            int64
ema_10            float64
ema_20            float64
ema_50            float64
ema_100           float64
ema_200           float64
rsi               float64
macd_line         float64
signal_line       float64
upper_band        float64
lower_band        float64
k                 float64
d                 float64
atr               float64
cmf               float64
is_weekend           bool
sin_days          float64
cos_days          float64
sin_hours         float64
cos_hours         float64
percent_change    float64
dtype: object

In [86]:
btc_df

,open,high,low,close,volume,n_trades,ema_10,ema_20,ema_50,ema_100,...,k,d,atr,cmf,is_weekend,sin_days,cos_days,sin_hours,cos_hours,percent_change
0,95863.99,96020.00,95756.00,95760.02,153.25939,30902,95992.582484,96091.990230,96594.161192,97101.600447,...,21.694409,32.979890,440.904656,0.109262,False,0.000000,1.000000,-0.866025,-0.500000,-0.108456
1,95760.03,96129.86,95711.20,95878.99,185.01925,27349,95971.929305,96071.704494,96566.106925,97076.965467,...,23.668523,26.019858,439.315752,-0.069727,False,0.000000,1.000000,-0.866025,-0.500000,0.124238
2,95879.00,96060.00,95878.99,95912.00,78.83363,21991,95961.033068,96056.494542,96540.448346,97053.500159,...,27.725949,24.362960,432.850341,-0.099670,False,0.000000,1.000000,-0.866025,-0.500000,0.034429
3,95912.00,95912.00,95548.00,95593.56,223.98587,43609,95894.219783,96012.405538,96503.305279,97024.103336,...,4.785714,18.726729,427.932460,-0.217460,False,0.000000,1.000000,-0.965926,-0.258819,-0.332013
4,95593.56,95645.94,95404.50,95457.67,174.76824,42023,95814.847095,95959.573582,96462.289163,96992.572725,...,4.853492,12.455051,414.611570,-0.362969,False,0.000000,1.000000,-0.965926,-0.258819,-0.142154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105344,86884.16,86951.80,86864.66,86896.44,39.95081,9201,86914.934700,86954.475620,87145.940754,87291.923990,...,66.741454,68.940781,128.902212,-0.005652,False,0.974928,-0.222521,0.258819,-0.965926,0.014145
105345,86896.44,86948.12,86872.00,86907.22,28.85160,9353,86913.532027,86949.975085,87136.579156,87284.306089,...,69.923835,66.592864,125.656339,0.098757,False,0.974928,-0.222521,0.258819,-0.965926,0.012406
105346,86907.21,86969.53,86884.86,86910.29,27.69264,8779,86912.942568,86946.195553,87127.705071,87276.899830,...,70.830135,69.165141,123.647315,0.031803,False,0.974928,-0.222521,0.258819,-0.965926,0.003533
105347,86910.29,87058.52,86894.08,87053.72,48.52627,9647,86938.538464,86956.435977,87124.803696,87272.480428,...,98.763397,79.839122,127.219650,0.011780,False,0.974928,-0.222521,0.258819,-0.965926,0.165032
105348,87053.72,87094.37,86956.99,86956.99,35.84226,8060,86941.893289,86956.488741,87118.222767,87266.233092,...,53.322914,74.305482,132.438961,-0.051424,False,0.974928,-0.222521,0.258819,-0.965926,-0.111115